@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'), url('../fonts/GraphikLCG-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222020;
}

.main_title {
    margin-bottom: 30px;
    color: white;
    font-family: 'Graphik LCG', sans-serif;
    transition: all .3s ease-out;
}

.main_title:hover {
    text-shadow: 0 0 45px #2f1ce4;
}

a {
    color: inherit;
    text-decoration: none;
}

.download {
    padding: 20px;
    color: white;
    background-color: #2f1ce4;
    border: 1px solid #2f1ce4;
}

.know-more {
    padding: 20px;
    color: white;
    background: none;
    border: 3px solid white;
    transition: all .3s ease-out;
}

.know-more:hover {
    color: black;
    background-color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.return {
    font-size: 18px;
    padding-left: 40px;
    background-image: url("../img/return.png");
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.h2_skillbox {
    margin-bottom: 61px;
    font-size: 40px;
    font-weight: 500;
}

.program_header {
    margin-top: 100px;
    padding-left: 100px;
    font-size: 48px;
    color: #222020;
}

.skillbox {
    margin-top: 100px;
    margin-bottom: 25px;
    padding-left: 180px;
    font-size: 36px;
    color: #2f1ce4;
}

.list {
    padding-left: 200px;
    font-size: 20px;
}

p {
  margin-bottom: 20px;
  padding-left: 180px;
}

.figure {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 200px;
    text-align: center;
}

.table {
    margin-top: 100px;
    border: 1px solid black;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 5px;
    border: 1px solid black;
}

.tfoot {
    text-align: center;
}


/**********************  modules  *************************/
body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.modules {
  font-family: Arial, sans-serif;
}
.h2 {
  margin-top: 25px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;
  color: #3F2AFF;
}

.h3 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  color: #3F2AFF;
}
.pagination {
  margin-top: 25px;
}

.content {
  display: flex;
  flex-direction: column;
}
.galery__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.galery__item {
  position: relative;
  width: 572px;
  min-height: 505px;
  padding-bottom: 40px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.galery__number {
  position: absolute;
  right: 25px;
  bottom: 25px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}
.galery__item-top {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro .galery__item-top {
  background: url("../img/modules/intro.jpg");
}

.base-html .galery__item-top {
  background: url("../img/modules/basehtml.jpg");
}

.base-css .galery__item-top {
  background: url("../img/modules/basecss.jpg");
}

.design .galery__item-top {
  background: url("../img/modules/design.jpg");
}

.galery__item-body {
  margin: 25px;
}

.galery__description__item {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 165%;
  color: #333333;
}

.show-more {
  display: inline-block;
  width: 274px;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  outline: 2px solid #3F2AFF;
  align-self: center;
  text-align: center;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

.show-more:hover {
  background-color: #3F2AFF;
  color: white;
}
